.footer
	display: flex
	height: 134px
	background: #000
	*
		color: #fefefe
	&-block
		display: flex
		justify-content: space-between
		align-items: center
		&__address
			display: flex
			justify-content: center
			align-items: center
			margin-left: 8px
			margin-bottom: 2px
		&__social
			display: flex
			justify-content: center
			align-items: center
			margin-left: 14px
			margin-bottom: 3px
			a
				display: flex
				justify-content: center
				align-items: center
				border-radius: 50%
				background: #fff
				width: 26px
				height: 26px
				margin: 0 5px
				img
					text-align: center
		&__contacts
			display: flex
			justify-content: space-between
			align-items: center
			margin-right: -6px
			margin-bottom: 3px
	&-address
		&__text
			margin-left: 13px
			font-size: 20px
			line-height: 28px
	&-contacts
		&__mail
			display: flex
			justify-content: center
			align-items: center
			padding-right: 25px
		&__text
			margin-left: 10px
			font-size: 18px
		&__phone
			display: flex
			justify-content: center
			align-items: center
			padding-left: 23px
			border-left: 1px solid #fff
	&-phone
		&__text
			margin-left: 6px
.vk-2
	width: 26px
	height: 26px
	left: 0
	display: none
	z-index: 2
@media (max-width: 1000px)
	.footer
		&-block
			flex-wrap: wrap
			&__social
			&__address
				margin-left: 0
@media (min-width: 993px)
	.footer-block__social a
		&:hover
			transition: 0.2s
			background: $main-color
@media (max-width: 992px)
	.footer-block__social
		margin-bottom: -20px
@media (max-width: 640px)
	.footer
		&-block
			flex-direction: column
			&__social
				align-self: center
				margin-bottom: 0
				order: 3
			&__contacts
				padding: 10px 0
@media (max-width: 480px)
	.footer
		&-block
			align-items: flex-start
			&__contacts
				flex-direction: column
				justify-content: flex-start
				align-items: flex-start
			&__address
				margin-bottom: -6px
		&-contacts
			&__phone
				border: none
				padding-left: 0
			&__mail
				margin-bottom: 6px
@media (max-width: 400px)
	.footer
		*
			font-size: 16px
		&-address
			&__text
				margin-right: -10px
				line-height: 16px
