.service
	&-wrap
		position: relative
		background-color: #f1f1f1
		margin-top: 133px
		padding-top: 104px
		&__button
			position: absolute
			margin-top: -131px
			margin-left: 150px
			padding: 15px 68px
			font-size: 28px
			line-height: 28px
			text-transform: uppercase
	&-block
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		align-items: center
		margin-right: -16px
		&__item
			position: relative
			margin-bottom: 17px
		&__text
			position: absolute
			top: 59px
			left: 50%
			margin-left: -150px
		&__description
			font-size: 20px
			line-height: 26px
			width: 300px
			color: #fff
			text-align: center
		&__button
			position: absolute
			top: 136px
			left: 50%
			margin-left: -67px
			width: 137px
			padding: 8px 0
			font-size: 15px
			text-transform: uppercase



